@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nanum+Myeongjo:wght@400;700;800&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,600;1,100&family=Prata&family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --green-light: #d4fbd6;
  --green-dark: #3a6b13;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  background-color: var(--green-light);
  color: var(--green-dark);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  text-transform: uppercase;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 50px;
  color: var(--green-light);
  background-color: var(--green-dark);
  text-transform: uppercase;
  border-radius: 100px;
  text-align: center;
}

.nav-link-container {
  color: var(--green-light);

  display: flex;
  justify-content: start;

  justify-content: space-between;
}
.nav-link-container a:hover {
  color: var(--green-dark);
  background-color: var(--green-light);
  border: 1px solid var(--green-dark);
}

.nav-link-container li {
  align-self: center;

  list-style: none;
}
.nav-link-container a {
  font-size: 1rem;
  background-color: var(--green-dark);
  text-decoration: none;
  color: var(--green-light);
  padding: 1px 60px;
  margin-left: 20px;
}
